.well {
	margin-top: 20px;
	margin-bottom: 30px;
}

.list-group a:hover {
  background-color: #66c2a5;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #5e4fa2;
}

.question {
  margin-bottom: 30px;
  margin-top: 0px;
  color: #9e0142;
}

h1 {
  color: #9e0142;
}
.question-intro {
  font-style: italic;
  color: #e1e8f0;
  margin-bottom: 0;
  margin-left: -30px;
}
