.well {
	margin-top: 20px;
	margin-bottom: 30px;
}

.list-group a:hover {
  background-color: #abdda4;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #5e4fa2;
}

.question {
  margin-top: 0px;
  color: #9e0142;
}

h1 {
  color: #9e0142;
}
.question-intro {
  font-style: italic;
  color: #e1e8f0;
  margin-bottom: 0;
  margin-left: -30px;
}

.login {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.login:hover {
  color: #ccc;
}
.login>i {
  font-size: 12em;
}

.poll {
  display: block;
  position: relative;
}

.deletePoll  {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  line-height: 1.2;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

#avatarLink {
  padding: 5px;
}

#profileLink {
  padding-left: 5px;
}

.creator {
  color: #66c2a5;
  margin-bottom: 30px;
}

#cancel {
  margin-left: 15px;
}