{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Hi!</h1>
    <p>My name is <a href="http://lukewalker.org">Luke Walker</a>, and I'm currently teaching myself to build cool things on the web by working through Free Code Camp's curriculum. <a href="https://www.freecodecamp.com/challenges/build-a-voting-app">This site is a part of that</a>.</p>

    <p>It's my first full-stack Javascript site. I built it with Node/Express/MongoDB (using Clementine.js as boilerplate), with Passport.js for authentication, Swig for templates, Bootstrap to keep things looking decent, and Chart.js for beautiful charts, and <a href="https://github.com/google/palette.js/tree/master">this palette generator from Google</a> for the color scheme.</p>

    <p>You can find my code on <a href="https://github.com/ubershibs/voting-app">Github</a>.</p>
    <p>I'd love any feedback you have! Send along an email to luke dot walker at gmail dot com.</p>
  </div>
</div>
{% endblock %}