{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron">
        <h1>A Voting App</h1>
        <h4>...for voting on things</h4>
        <p>By <a href="http://lukewalker.org">Luke Walker</a> | <a href="/about">About this site</a></p>
      </div>
      <header>
        <h1>All Polls</h1>
      </header>
      <div class="list-group" id="polls">
              {% for poll in polls %}
          <a class="list-group-item" href={{ poll._id|pollUrl|json|safe }} id={{ poll._id}}><span class="badge">Loading...</span>{{ poll.question }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/controllers/listHandler.client.js"></script>
{% endblock %}
