<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voting-app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/styles.css">
{% block head %}
{% endblock %}
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">VotingApp</a>
        <a type="button" class="btn navbar-toggle collapsed" data-toggle="collapse" href="/polls/new" aria-expanded="false"><i class="glyphicon glyphicon-plus"></i> New Poll</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="allPolls"><a href="/" tabindex="2">All polls</a></li>
          <li id="newPoll"><a href="/polls/new" tabindex="3"><i class="glyphicon glyphicon-plus"></i> New Poll</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search polls for..." id="searchTerms" tabindex-"4">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="searchSubmit" tabindex="5">Go!</button>
            </span>
          </div><!-- /input-group -->
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if username %}
            <li><a href={{profile|json|safe}} id="avatarLink"><img class="avatar" src={{avatar}}></a></li>
            <li><a tabindex="8" href={{profile|json|safe}} id="profileLink">{{username}}</a></li>
            <li><a tabindex="9" href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login" tabindex="6">Login</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

 {% block content %}
 {% endblock %}

  <script>
    var username = {{ username|json|safe }};
    var userId = {{ userId|json|safe }};
    var socialId = {{ socialId|json|safe }};
    var avatar = {{ avatar|json|safe }};
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/controllers/searchHandler.client.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>

