{% extends 'layout.html' %}

{% block head %}
  <script src="https://use.fontawesome.com/bfa2841172.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Voting-app</h1>
      <p>Welcome to Luke Walker's Voting-app!</p>
      <p></p>Guests can vote on polls and see results, but you must log in to make, add to, or delete a poll.</p>
      <br>
      <h3>Log in with:</h3>
      <a href="/auth/github" class="btn btn-default login"><i class="fa fa-github"></i><p>Github</p></a>
      <a href="/auth/twitter" class="btn btn-default login"><i class="fa fa-twitter"></i><p>Twitter</p></a>
    </div>
  </div>
{% endblock %}

