{% extends 'layout.html' %}

{% block content %}

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="question-intro">Question:</h3>
      <h1 class="question" id="question">{{ question }}</h1>
      <h5 class="creator">Created by: <a href={{ creator.someID|userUrl|json|safe }}>{{ creator.username }}</a></h5>
      <div class="row chart-container" id="chartContainer">
        <div class="well well-lg">
          <canvas id="pollChart"></canvas>
        </div>
      </div>

      <div id="addthisContainer">
        <div class="addthis_sharing_toolbox" id="addthis"></div>
      </div>

      <h3 id="response-intro">Select your response:</h3>
      <div class="list-group" id="options">

      </div>
      {% if username %}
      <div id="addAnother">
        <p>Not satisfied with the current choices? Add another!</p>
        <button class="btn btn-default" id="addResponse"><i class="glyphicon glyphicon-plus"></i> Another Option</button>
      </div>
      {% endif %}
    </div>
  </div>
   <script> var creator = {{creator._id|json|safe}}; </script>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575f0ca95c84a315"></script>
  <script src="/public/js/palette.js"></script>
  <script src="/public/js/chartjs.js"></script>
  <script src="/controllers/pollHandler.client.js"></script>
{% endblock %}