{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 id="profileHeadline"><img src={{profileAvatar|json|safe}} id="profileAvatar" />{{profileUser}}</h1>
    <h4>{{profileUser}}'s polls</h4>
    <ul class="list-group" role="group" id="polls"></ul>
      {% for poll in polls %}
      <li class="list-group-item poll"><a href={{poll._id|pollUrl|json|safe}} id={{poll._id|json|safe}}>{{poll.question}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script> var profileUser = {{profileUser|json|safe}}</script>
  <script src="/controllers/userHandler.client.js"></script>
{% endblock %}